
/***** BODY ************************************************************************/

body {
    background-color: #444;
    font: 13px/1.5 Arial;
    margin: 0;
}

code {
    color: teal;
    font: 1.2em monospace;
    text-transform: uppercase;
}

code::after {
    content: ">";
    display: inline;
    font-size: .9em;
    padding-left: .2em;
}

code::before {
    content: "<";
    display: inline;
    font-size: .9em;
    padding-right: .2em;
}

/***** HEADERS **********************************************************************/

body > header  {
    background-color: #222;
    border-bottom: 2px solid #444;
    padding: .5em 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}

body > header  > img {
    max-width: 70px;
}

h1, h2 {
    display: none;
}

h3 {
    color: #FFF;
    font-size: 1.2em;
    background-color: teal;
    margin: .5em 0 1.5em 0;
    letter-spacing: .12em;
    padding: .2em 0;
    text-align: center;
    text-transform: uppercase;
}

h4 {
    font: 2em 'Abel', 'Arial', sans-serif;
    margin: 0;
    text-transform: capitalize;
}

/***** COMPONENTS ******************************************************************/

section:nth-of-type(1) {
    color: #C1C1C1;
    border-bottom: 2px dotted teal;
    border-top: 2px dotted teal;
    margin-top: 7em !important;
}

article,
section:nth-of-type(1) {
    width: 80%;
    margin: 4em auto;
    padding: .5em 1.5em;
    text-align: justify;
}

article {
    background-color: #EEE;
    border-radius: .3em;
}

article > img {
    border: 1px solid #DDD;
    display: block;
    margin-bottom: 1.5em;
    width: 100%;
}

article > p {
    margin: 0 0 1.5em 0;
}

/***** BUTTONS ********************************************************************/

footer > ul {
    list-style-type: none;
    margin: .5em auto;
    padding: 0;
    width: 23.5em;
}

footer > ul::after {
    content: "";
    display: table;
    clear: both;
}

footer > ul li {
    background-color: #222;
    border-radius: .3em;
    display: block;
    float: left;
    padding: .5em 1.5em;
}

footer > ul li:hover {
    background-color: teal;
    transition: 0.5s all ease;
}

footer > ul li:not(:nth-of-type(2)) {
    margin-right: 1.5em;
}

footer > ul li a {
    color: #FFF;
    font-size: 1.1em;
    text-decoration: none;
    transition: 0.5s all ease;
}

/***** FEATURED CONTENT ************************************************************/

#featured::before {
    background-color: teal;
    border-top-left-radius: 3em;
    border-top-right-radius: 10em;
    content: "featured";
    display: block;
    font-weight: bold;
    left: -.15em;
    padding: .2em 2em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: -1.9em;
    z-index: 1;
}

#featured {
    background-color: #222;
    border: 2px solid teal;
    color: #FFF;
    margin-bottom: 0;
    position: relative;
}

#featured h3 {
    background-color: #444;
}

#featured h4 {
    color: teal;
}

#featured footer > ul li {
    background-color: #444;
}

#featured footer > ul li:hover {
    background-color: teal;
}

#featured img {
    float: left;
}

#featured img:first-of-type {
    margin-right: 2em;
}

/***** FEATURED LISTS *************************************************************/

#featured > ul:first-of-type {
    list-style-type: none;
    padding: 0;
}

#featured > ul:first-of-type::after {
    clear: both;
    content: "";
    display: block;
}

#featured > ul:first-of-type li {
    display: block;
    float: left;
    margin-bottom: 1em;
    width: calc(95%/2);
}

#featured > ul:first-of-type li:not(:nth-of-type(2n)) {
    margin-right: 1em;
}

#featured > ul:first-of-type li::after {
    clear: both;
    content: "";
    display: block;
    border-top: 1px solid #444;
    margin: .8em 0;
}

#featured > ul:nth-of-type(2) {
    line-height: 2;
    list-style-type: none;
    padding: 0;
    margin-bottom: 2em;
}

#featured > ul:nth-of-type(2) li:nth-child(1n) {
    background-color: #DDD;
    color: #000;
    padding: .2em 0 .2em .5em;
}

#featured > ul:nth-of-type(2) li:nth-child(2n) {
    background-color: #B1B1B1;
    color: #000;
    padding: .2em 0 .2em .5em;
}

/***** MEDIA QUERIES *************************************************************/

@media only screen and (min-width: 768px) {
    #featured img {width: calc(95%/2);}
    #featured > ul:first-of-type li {width: calc(93.5%/3);}
    #featured > ul:first-of-type li:not(:nth-of-type(3n)) {margin-right: 1em;}
}

@media only screen and (min-width: 1024px) {
    article, section:nth-of-type(1) {width: 65%;}
    #featured img {width: calc(95%/2);}
    #featured > ul:first-of-type li {width: calc(93.5%/3);}
    #featured > ul:first-of-type li:not(:nth-of-type(3n)) {margin-right: 1.2em;}
}