<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    <article>
        <img src="images/jane.jpg" alt="Jane Nicolson">
        <div>
            <h4><a href="">Jane Nicolson</a></h4>
            <p>Student</p>
        </div>
    </article>
    
    <img src="images/ronald.jpg" alt="Ronald">
    <img src="images/helen.jpg" alt="Helen">
    <img src="images/nick.jpg" alt="Nick">

	<!-- End Component -->
	
</body>
</html>