/* Component Stylesheet 
============================================================
============================================================*/

nav {
    background-color: #303334; 
    position: fixed;
    width: 100%;
}

#wrapper {
    background-color: inherit;
    padding: 0 15px;
    text-align: center;
}

/********** MENU LIST **********/

ul::after {
    content: "";
    display: table;
    clear: both;
}

ul li {
    display: inline-block;
    list-style-type: none;
    padding: 30px 35px;
    position: relative;
    text-align: center;
}

a {
    color: #FFF;
    font: 18px Voltaire, sans-serif;
    text-transform: uppercase;
    transition: .35s all ease;
}

a:hover {
    color: #E8504F;
    transition: .35s all ease;
}

/********** SUB MENU LIST **********


ul li ul {
    display: none;
    left: -10px;
    max-width: 125px;
    margin: 15px;
    position: absolute;
    top: 80px;
}

ul li ul li {
    background-color: #303334;
    display: block;
    position: relative;
    padding: 0;
}

/********** PAGE STYLE *************/

p {
    margin: 0 auto;
    padding: 30em 2em;
    text-align: center;
    width: 50%;
}

/********** MEDIA QUERIES **********/

@media only screen and (min-width: 488px) and (max-width: 787px) {
    /* Hamburger Button
    nav ul li::after {
        content: url('images/hamburger.png') no-repeat;
    } */
    nav ul li {padding: 0;}
    nav ul li a {display: none;}
    }
}