<!--
        /********** IMPROVEMENT TO-DO LIST *********/
        - Add filter over images
        - Remove filter on hover
        - Adjust jQuery animation according to window
            size (e.g. if mobile, no hover effect;
            if wide screen, small bottom values)
        - Fix white space at the bottom of images
        /********************************************
-->

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WSP Component: Kellie Pickering</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
	<!-- Component -->
    <section>
        <h3>Our Team</h3>
        <div>
            <header>
                <h4>Natalie Barnes</h4>
                <p>Director</p>
                <ul>
                    <li><a href="http://twitter.com">Twitter</a></li>
                    <li><a href="http://facebook.com">Facebook</a></li>
                    <li><a href="http://linkedin.com">LinkedIn</a></li>
                </ul>
            </header>
            <img src="images/page-1_img01.jpg" alt="Natalie Barnes">
        </div> 
        <div>
            <header>
                <h4>Dayle Peters</h4>
                <p>Manager</p>
                <ul>
                    <li><a href="http://twitter.com">Twitter</a></li>
                    <li><a href="http://facebook.com">Facebook</a></li>
                    <li><a href="http://linkedin.com">LinkedIn</a></li>
                </ul>
            </header>
            <img src="images/page-1_img02.jpg" alt="Dayle Peters">
        </div>
        <div>
            <header>
                <h4>Eva Adamson</h4>
                <p>Manager</p>
                <ul>
                    <li><a href="http://twitter.com">Twitter</a></li>
                    <li><a href="http://facebook.com">Facebook</a></li>
                    <li><a href="http://linkedin.com">LinkedIn</a></li>
                </ul>
            </header>
            <img src="images/page-1_img03.jpg" alt="Eva Adamson">
        </div>
        <div>
            <header>
                <h4>Thomas Bishop</h4>
                <p>Legal Assistant</p>
                <ul>
                    <li><a href="http://twitter.com">Twitter</a></li>
                    <li><a href="http://facebook.com">Facebook</a></li>
                    <li><a href="http://linkedin.com">LinkedIn</a></li>
                </ul>
            </header>
            <img src="images/page-1_img04.jpg" alt="Thomas Bishop">
        </div>
    </section>
	<!-- End Component -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="component.js"></script> 
</body>
</html>