/* Component Stylesheet 
============================================================
============================================================*/

section {
    color: #FFF;
    background: #111 url('images/highway.jpg') no-repeat fixed center center;
    padding: 1.875em .938em 4.375em .938em;
    position: relative;
    text-align: center;
}

/********** HEADER **********/

h1 {
    font: bold 2.063em/2.475em Roboto, sans-serif;
    text-transform: uppercase;
}

h6 {
    font: normal 1em/1.2em 'Noto Sans', sans-serif;
}

h6::after {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    content: "";
    display: table;
    height: 1.375em;
    left: calc(50% - 4.25em);
    padding-top: 1.375;
    position: absolute;
    width: 8.5em;
}

/********** CONTENT **********/

p:nth-of-type(1) {
    color: #CBCBCB;
    font: normal 1em/1.5em 'Noto Sans', sans-serif;
    margin-top: 3.969em;
}

/********** BUTTONS **********/

a {
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    color: #FFF;
    display: block;
    font: bold 1em/1.25em 'Roboto', sans-serif;
    letter-spacing: .12em;
    padding: 1em 1.875em;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s all ease;
}

a:hover {
    background-color: rgba(231, 78, 62, 1);
    border: 2px solid rgba(231, 78, 62, 1);
    transition: 0.2s all ease;
}

p:nth-of-type(2) {
    display: inline-block;
    margin-top: 1.875em;
}

p:nth-of-type(3) {
    display: inline-block;
    margin-top: 1.563em;
}

/********** MEDIA QUERIES **********/

@media only screen and (min-width: 488px) and (max-width: 787px) {
    p:nth-of-type(3) {margin-left:1.563em};
}

@media only screen and (min-width: 788px) and (max-width: 996px) {
    h1 {font-size: 3.875em; letter-spacing: 0.2em; line-height: 1.2;}
    h6 {font-size: 1.375em; line-height: 1.2;}
    p:nth-of-type(1) {line-height: 1.5em; padding: 0 3.125em;}
    p:nth-of-type(3) {margin-left: 1.563em};   
}

@media only screen and (min-width: 997px) and (max-width: 1190px) {
    a {padding: 1em 3.75em;}
    h1 {font-size: 4.375em; letter-spacing: 0.2em; line-height: 1.2;}
    h6 {font-size: 1.375em; line-height: 1.2;}
    p:nth-of-type(1) {line-height: 1.5em; padding: 0 3.125em;}
    p:nth-of-type(2) {margin-top: 4.75em;}
    p:nth-of-type(3) {margin: 4.75em 0 0 1.563em;}
}

@media only screen and (min-width: 1191px) and (max-width: 1999px) {
    a {padding: 1em 3.75em;}
    h1 {font-size: 4.375em; letter-spacing: 0.2em; line-height: 1.2;}
    h6 {font-size: 1.375em; line-height: 1.2;}
    p:nth-of-type(1) {line-height: 1.5em; padding: 0 11.250em;}
    p:nth-of-type(2) {margin-top: 4.750em;}
    p:nth-of-type(3) {margin: 4.750em 0 0 1.563em;}
}