<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WSP Component: Kellie Pickering</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:700|Noto+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    
    <section>
        <h1>Trasportation</h1>
        <h6>and Logistics Solutions</h6>
        <p>We specialize in a variety of logistics services. Our aim is to deliver the top level of logistics based on your request. We hope that with our services you will receive the most personalized help in transporting any kind of cargos to any distances, even overseas. Discover the amazing world of logistics with Trans!</p>
        <p><a href="">Make an order</a></p>
        <p><a href="">Learn more</a></p>
    </section>

	<!-- End Component -->
	
</body>
</html>