<!--
        /********** IMPROVEMENT TO-DO LIST **********/
        - Set Home to active (colorize)
        - Adjust nav max-width
        - Wrap/center main navigation and mega menu
        - Fix upward pointing arrow
        - Create second sub-menu
        - FontAwesome list-item disc
        - Finish styling articles
        - Hide mega menu / show on hover
        - jQuery slide up animation
        - Image zoom animation
        - Convert px to em
        **********************************************
-->

<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Kellie Pickering</title>
    <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />	
</head>
<body>

	<!-- Component -->
    <nav>
        <ul>
            <li><a href="">Home</a>
                <div>
                    <section id="about">
                        <h6>About Us</h6>
                        <p>Travel throughout Africa with the Safari Adventure Company. Unrivaled experience, unlimited knowledge, and a passiong for exploring Africa.</p>
                    </section>
                    <section>
                        <h6>Categories</h6>
                        <ul>
                            <li><a href="">Kenya</a></li>
                            <li><a href="">Madagascar</a></li>
                            <li><a href="">Malawi</a></li>
                            <li><a href="">Mozambique</a></li>
                            <li><a href="">Namibia</a></li>
                            <li><a href="">Rwanda</a></li>
                            <li><a href="">South Africa</a></li>
                            <li><a href="">Tanzania</a></li>
                        </ul>
                    </section>
                    <section>
                        <h6>Latest News</h6>
                        <article>
                            <img src="images/megamenu-img2.jpg" alt="leopard">
                            <h6>Title</h6>
                            <p>Some text</p>
                        </article>
                        <article>
                            <img src="images/megamenu-img3.jpg" alt="lion">
                            <h6>Title</h6>
                            <p>Some text</p>
                        </article>
                    </section>
                </div>
            </li>
            <li><a href="">About</a></li>
            <li><a href="">Pages</a></li>
            <li><a href="">Gallery</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
	<!-- End Component -->
	
</body>
</html>