<!--
        /********** IMPROVEMENT TO-DO LIST **********/
        - Create 'pages' sub-menu
        - Hamburger button / media queries
        - JS/CSS slideUp animation
        - Image zoom animation
        - Convert px to em
        **********************************************
-->

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WSP Component: Kellie Pickering</title>
    <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />	
</head>
<body>

	<!-- Component -->
    <nav>
        <ul>
            <li><a href="" class="dropDown">Home</a>
                <section>
                    <section id="about">
                        <h6>About Us</h6>
                        <p>Travel throughout Africa with the Safari Adventure Company. Unrivaled experience, unlimited knowledge, and a passiong for exploring Africa.</p>
                    </section>
                    <section>
                        <h6>Categories</h6>
                        <ul>
                            <li><a href="">Kenya</a></li>
                            <li><a href="">Madagascar</a></li>
                            <li><a href="">Malawi</a></li>
                            <li><a href="">Mozambique</a></li>
                            <li><a href="">Namibia</a></li>
                            <li><a href="">Rwanda</a></li>
                            <li><a href="">South Africa</a></li>
                            <li><a href="">Tanzania</a></li>
                        </ul>
                    </section>
                    <section>
                        <h6>Latest News</h6>
                        <article>
                            <img src="images/megamenu-img2.jpg" alt="leopard">
                            <h6><a href="">Kenyan Visa</a></h6>
                            <p>The Kenyan government has implemented an online application process for all visa applications for people...</p>
                        </article>
                        <article>
                            <img src="images/megamenu-img3.jpg" alt="lion">
                            <h6><a href="">Insider's South Africa</a></h6>
                            <p>Experience South Africa as an insider- with inside access to sports stadiums, traditional villages, local pubs...</p>
                        </article>
                    </section>
                </section>
            </li>
            <li><a href="">About</a></li>
            <li><a href="" class="dropDown">Pages</a></li>
            <li><a href="">Gallery</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
	<!-- End Component -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="component.js"></script>  
</body>
</html>