/* Component Stylesheet 
============================================================
============================================================*/

@font-face {
  font-family: 'FontAwesome';
  src: url('/../../fonts/fontawesome-webfont.eot');
  src: url('/../../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
       url('/../../fonts/fontawesome-webfont.woff2') format('woff2'),
       url('/../../fonts/fontawesome-webfont.woff') format('woff'), 
       url('/../../fonts/fontawesome-webfont.ttf')  format('truetype'),
       url('/../../fonts/fontawesome-webfont.svg#svgFontAwesome') format('svg');
}

body {
    font-family: Lato, sans-serif;    
}

a {
    color: #BDBEBF;
    transition: all 0.3s ease;
}

a:hover,
#copyright a:hover {
    color: #DC6226;
    transition: all 0.3s ease;
}

dl {
    font-size: 0.875em;
    line-height: 1.438em;
    margin-bottom: 3.375em;
}

dl dt {
    float: left;
}

dl dt:not(:first-of-type) {
    width: 4.688em;
}

h2 {
    color: #E8EEF2;
    font: 900 1em/1.25em Lato, sans-serif;
    text-transform: uppercase;
}

nav,
nav h2,
section h2 {
    margin-bottom: 1.875em;
}

ul li {
    list-style-type: none;  
}

nav ul li a {
    font: 300 .875em/1.438em Lato, sans-serif;
}

#active a {
    color: #DC6226;
}

input[type="text"] {
    background-color: #3D3D3D;
    border: 1px solid #DC6226;
    border-right: none;
    color: #E8EEF2;
    float: left;
    font: normal 0.75em/1.25em Lato, sans-serif;
    margin-top: 0.625em;
    min-width: 100%;
    outline: none;
    padding: 0.625em 6.563em 0.688em 0.813em;
    position: relative;
}

input[type="submit"] {
    color: #E8EEF2;
    float: right;
    font: 700 1em/1.688em Lato, sans-serif;
    height: 2.1em;
    background-color: #DC6226;
    margin-left: -6.063em;
    margin-top: .5em;
    position: absolute;
    text-transform: uppercase;
    transition: all 0.3s ease;
    width: 6.063em;
}

input[type="submit"]:hover {
    background-color: #363636;
    transition: all 0.3s ease;
}

footer {
    background-color: #3D3D3D;
    color: #BDBEBF;
}

footer:first-of-type {
    padding: 4.688em 0.938em 0em 0.938em;
}

#legal {
    border-top: 3px solid #5B5B5B;
    color: #E8EEF2;
    font: normal 0.875em/1.25em Lato, sans-serif;
    margin-top: 40px;
    padding: 2.5em 0.938em;
    text-align: center;
    text-transform: capitalize;
}

#legal a {
    color: #E8EEF2;
    transition: all 0.3s ease;
}

form {
    width: 100%;
}

#connect {
    margin-bottom: 5.938em;
}

#connect::after {
    content: "";
    display: table;
    clear: both;
}

strong {
    font-weight: 900;
    text-transform: uppercase;
}

#switch {
    font-size: 0.688em;
    margin-top: 0.625em;
}

#switch a:hover {
    text-decoration: underline;
}

aside {
    padding-bottom: 1.250em;
}

aside::after {
    content: "";
    display: table;
    clear: both;
}

section:not(#connect) {
    width: 14.75em;
}

#wrapper {
    background-color: inherit;
}

footer:not(#legal)::after {
    content: "";
    display: table;
    clear: both;
}

/********** SOCIAL MEDIA ***********/

#connect li {
    display: inline-block;
    position: relative;
}

#connect li a {
    display: block;
    float: left;
    height: 1.5em;
    text-indent: -9999px;
    width: 2em;
}

#connect li a:hover::before {
    color: #DC6226;
    transition: all 0.3s ease;
}

#connect li a:not(first) {
    margin-left: 0.313em;
}

#connect li a::before {
    color: #E8EEF2;
    display: block;
    font: 1.5em 'FontAwesome';
    position: absolute;
    text-indent: 0;
    transition: all 0.3s ease;
}

a[href*="facebook"]::before {
    content: "\f09a";
}

a[href*="google"]::before {
    content: "\f0d5";
}

a[href*="instagram"]::before {
    content: "\f16d";
}

a[href*="pinterest"]::before {
    content: "\f0d2";
}

a[href*="twitter"]::before {
    content: "\f099";
}

/********** MEDIA QUERIES **********/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    aside {border-left: 1px solid #5B5B5B; float: right; margin-bottom: 3.75em; padding-left: 0.625em; width: 40%;}
    div:not(#wrapper), nav, section:not(#connect) {float: left;}
    div:not(#wrapper) {width: 60%;}
    nav {margin-right: 1.250em;}
    section:not(#connect) {max-width: 100%}
    #connect {margin-right: 0.625em;}
    #legal {clear:both;}
}

@media only screen and (min-width: 992px) and (max-width: 1999px) {
    aside {border-left: 1px solid #5B5B5B; float: right; margin-bottom: 3.75em; padding-left: 1.563em; width: 40%;}
    div:not(#wapper), nav, section:not(#connect) {float: left;}
    div:not(#wrapper) {width: 60%;}
    nav {margin-right: 3.75em; width:8.75em;}
    footer:not(#legal) {max-width:100%;}
    section:not(#connect) {width:18.75em;}
    #connect {margin-right: 0.625em;}
    #legal {clear:both;}
    #switch {display: none;}
    #wrapper {width: 85%; margin: 0 7%;}
}