<!--
        ********** Improvement To-Do List **********
        - FontAwesome social media icons
        - JavaScript text input focus clear
        - Less ID usage
        - Convert CSS px values to ems
        - Organize CSS code
        ********************************************
-->

<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Kellie Pickering</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <footer>
        <div id="wrapper">
        <div>
        <!-- Navigation -->
        <nav>
            <h2>Navigation</h2>
            <ul>
                <li id="active"><a href="">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Contacts</a></li>
                <li><a href="">Blog</a></li>
        </ul>
        </nav>
        <!-- News -->
        <nav>
            <h2>News</h2>
            <ul>
                <li><a href="">New Releases</a></li>
                <li><a href="">Events</a></li>
                <li><a href="">How To</a></li>
                <li><a href="">Real Help</a></li>
                <li><a href="">Charity</a></li>
                <li><a href="">Contests</a></li>
            </ul>
        </nav>
        <!-- Contact -->
        <section>
            <h2>Get in Touch</h2>
            <dl>
                <dt>E-mail:</dt>
                <dd><a href="">mail@demolink.org</a></dd>
                <address>8901 Marmora Road<br>Glasgow, DO4 89GR</address>
                <dt>Freephone:</dt>
                <dd>+1 800 559 6580</dd>
                <dt>Telephone:</dt>
                <dd>+1 959 603 6035</dd>
                <dt>FAX:</dt>
                <dd>+1 504 889 9898</dd>
            </dl>
        </section>
        </div>
        <aside>
            <!-- Connect -->
            <section id="connect">
                <h2>Connect Online</h2>
                <ul>
                    <li><a href="" id="facebook">Facebook</a></li>
                    <li><a href="" id="google">Google Plus</a></li>
                    <li><a href="" id="instagram">Instagram</a></li>
                    <li><a href="" id="pinterest">Pinterest</a></li>
                    <li><a href="" id="twitter">Twitter</a></li>
                </ul>
            </section>
            <!-- Newsletter -->
            <form>
                <h2>Stay Informed</h2>
                <input type="text" value="e-mail address" maxlength="255">
                <input type="submit" value="Sign Up" class="submit">
            </form>
        </aside>
        <!-- Footer -->
        <footer id="legal">
            <p id="copyright"><strong>Consulting Company</strong> &copy; 2016 <a href="">Privacy Policy</a></p>
            <p id="switch"><a href="">Desktop Version Only</a></p>
        </footer>
            </div>
    </footer>
    <!-- Copyright -->
	<!-- End Component -->
	
</body>
</html>